.userPlank{
	position: absolute;
	top:0px;
	left:0px;
	z-index:10;
	height:70px;
	width:800px;
	background: white;
}

.userImage{
	position: absolute;
	top:10px;
	left:10px;
	width: 50px;
	height:50px;
}

.baloon{
	position: absolute;
	top:10px;
	left:10px;
	width: 90px;
	height:106px;
	border:1px solid #555;
	background: white;
}

.baloon .close{
	position: absolute;
	top:0px;
	right:0px;
	width: 16px;
	height:16px;
	background: url(/close.png) top left no-repeat;
	cursor: pointer;
}

.baloon .content .baloonname{
	position: absolute;
	text-align: center;
	top:76px;
	left:0px;
	width: 90px;
	height:26px;
	font-size:12px;
	line-height: 13px;
}

.baloon .content .baloonimg{
	position: absolute;
	top:16px;
	left:20px;
	width: 50px;
	height:50px;
	background: white;
}

.userName{
	position: absolute;
	top:10px;
	left:75px;
	width: 100px;
	height:50px;
	overflow: hidden;
	font-size: 12px;
	font-family: Georgia;
}

body{
	width:800px;
	height: 600px;
}
#YMapsID{
	width:100%;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	z-index:1;
}
#preloader{
	background: url(/bg.jpg) center center no-repeat;
	width:100%;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	z-index:10;
}